<app-navigation></app-navigation>
<router-outlet></router-outlet>
<!-- <p>@Footer info</p> -->


<div [style.display]="display">
<mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">yup yup</mat-checkbox>
<div *ngIf="showDetails.checked">Details</div>

<mat-radio-group aria-label="Select an option" (change)="onChange($event)"  value = "female" [(ngModel)]="gender" >
  <mat-radio-button value="male"> Male </mat-radio-button>
  <mat-radio-button value="female"> Female </mat-radio-button>
</mat-radio-group>
<h2>{{gender}}</h2>

<h4>mat-select-{{selectedValue}}</h4>
<mat-form-field>
  <mat-label>State</mat-label>
  <mat-select [(ngModel)]="selectedValue">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
  </mat-select>
</mat-form-field>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
    <mat-hint>Errors appear instantly!</mat-hint>
    <span matSuffix>@hotmail.com</span>
    <span matPrefix>admin</span>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment" required ngModel #username="ngModel" name="comment"></textarea>
    <mat-error *ngIf="username.invalid && username.errors.required">hey hey missed something</mat-error>
  </mat-form-field>
</form>
</div>